{%- assign v = product.selected_or_first_available_variant -%}
{%- assign atc_label = 'products.product.add_to_cart' | t | default: 'Toevoegen aan winkelwagen' -%}
{%- assign sold_out_label = 'products.product.sold_out' | t | default: 'Uitverkocht' -%}
{%- assign unavailable_label = 'products.product.unavailable' | t | default: 'Niet beschikbaar' -%}

{%- assign q_max = nil -%}
{%- if v and v.inventory_management -%}
  {%- if v.inventory_policy == 'deny' -%}
	{%- assign q_max = v.inventory_quantity -%}
  {%- endif -%}
{%- endif -%}

<div class="product-atc">
	<div class="product-atc-qty">
		<label class="pform__label" for="Quantity-{{ product.id }}">
		  {{ 'products.product.quantity.label' | t | default: 'Aantal' }}
		</label>
		<input id="Quantity-{{ product.id }}"
			   class="pform__input"
			   type="number"
			   name="quantity"
			   min="1"
			   max="{% if q_max %}{{ q_max }}{% endif %}" 
			   value="1"
			   inputmode="numeric"
			   pattern="[0-9]*">
	</div>
	<div class="product-atc-submit">
		<button type="submit"
				class="is-button pform__btn{% if full_width %} pform__btn--full{% endif %}"
				data-atc
				data-label-default="{{ atc_label | escape }}"
				data-label-soldout="{{ sold_out_label | escape }}"
				data-label-unavailable="{{ unavailable_label | escape }}"
				{% unless v.available %}disabled{% endunless %}>
			<span data-atc-text>
				{%- if v.available -%}{{ atc_label }}{%- else -%}{{ sold_out_label }}{%- endif -%}
			</span>
		</button>
	</div>
	<div class="product-atc-favorite" data-fragment-skip="favorites" data-no-track>
		<div class="th_prd_wl_btn" data-product_id="{{product.id}}" data-variant_id="{{product.selected_or_first_available_variant.id}}"></div>
	</div>
</div>
<style>
	.product-atc {
		padding:1em 0;
		display: flex; flex-direction: row; flex-wrap:nowrap;
		align-items: center; justify-content: flex-start;
		column-gap: 1em;
		& .product-atc-qty {
			& .pform__label { display: none;}
			& input[type="number"] {
				-webkit-appearance: none; appearance: none;
				width: auto; height:2.5em; width:2.5em; text-align: center;
				padding:1em 0; border:var(--theme-color-blue) 2px solid; 
				font-family: inherit; font-weight: 500;
				font-size: inherit; line-height: 1em;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
				  -webkit-appearance: none;
				  margin: 0;
				}
			}
		}
		& .product-atc-submit {
			flex-grow: 1;
			& button.pform__btn {
				padding: 0.5em 1em; background-color: var(--theme-color-green); color:#fff;
				width:100%;
				&[disabled] { 
					background-color: var(--theme-color-orange);
					&:hover { cursor: not-allowed;}
				}
			}
		}
		
	}
	
</style>