{%- liquid
  assign obj = object | default: collection | default: search
  assign sort_by = obj.sort_by | default: obj.default_sort_by
-%}
<div class="product-filter__preview">
  <form id="PreviewFiltersForm-{{ section_id }}"
	class="facets facets--preview"
	data-facets
	method="get"
	action="{{ obj.url | default: routes.search_url }}">
	{%- if obj.terms -%}
	  <input type="hidden" name="q" value="{{ obj.terms | escape }}">
	  <input type="hidden" name="options[prefix]" value="last">
	{%- endif -%}

	<div class="facets__groups" role="list">
	  {%- for filter in obj.filters -%}
		{%- case filter.type -%}
		  {%- when 'boolean','list' -%}
			<details class="facet" data-index="{{ forloop.index }}" data-param="{{ filter.param_name }}">
			  <summary class="facet__summary">
				<span class="facet__name">{{ filter.label | escape }}</span>
				<span class="facet__icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
				</span>
			  </summary>
			  <fieldset class="facet__fieldset">
				<legend class="visually-hidden">{{ filter.label | escape }}</legend>
				<ul class="facet__values" role="list">
				  {%- for value in filter.values -%}
					{%- assign input_id = 'Preview-' | append: filter.param_name | escape | append: '-' | append: forloop.index0 | append: '-' | append: section_id -%}
					<li data-value="{{ value.value | escape }}">
					  <label for="{{ input_id }}" class="facet__check{% if value.active %} is-active{% endif %}{% if value.count == 0 and value.active == false %} is-disabled{% endif %}">
						<input type="checkbox"
							   id="{{ input_id }}"
							   name="{{ value.param_name }}"
							   value="{{ value.value }}"
							   class="facet__input" 
							   {% if value.active %}checked{% endif %}
							   {% if value.count == 0 and value.active == false %}disabled{% endif %}>
						<span class="facet__text">{{ value.label | escape }}</span>
						<span class="facet__qty">{{ value.count }}</span>
					  </label>
					</li>
				  {%- endfor -%}
				</ul>
			  </fieldset>
			</details>

		  {%- when 'price_range' -%}
			<details class="facet" data-index="{{ forloop.index }}" data-param="{{ filter.param_name }}">
			  <summary class="facet__summary">
				<span class="facet__name">{{ filter.label | escape }}</span>
				<span class="facet__icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
				</span>
			  </summary>
			  <fieldset class="facet__fieldset">
				{% render 'price-facet', filter: filter, id_prefix: 'Preview-', filter_type: 'vertical' %}
			  </fieldset>
			</details>
		{%- endcase -%}
	  {%- endfor -%}
	</div>

	{%- if settings.show_sort and obj.sort_options and obj.sort_options.size > 0 -%}
	  <nav class="facets__sort facets__sort--preview">
		<label class="visually-hidden" for="SortBy-{{ section_id }}">Sorteren op</label>
		<select id="SortBy-{{ section_id }}" name="sort_by" class="select">
		  {%- for option in obj.sort_options -%}
			<option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected{% endif %}>
			  {{ option.name | escape }}
			</option>
		  {%- endfor -%}
		</select>
	  </nav>
	{%- endif -%}
	
	<noscript><button class="button" type="submit">Apply</button></noscript>
  </form>
  <button type="button"
		  class="is-button product-filter__open"
		  aria-controls="filter-drawer-{{ section_id }}"
		  aria-expanded="false">
	<span>
		{{ 'products.facets.filter_button' | t | default: 'All filters' }}
	</span>
  </button>
  
  <style>
  		.facets {}
		.facets > .facets__groups {}
		.facets > .facets__groups > .facet {}
		.facets > .facets__groups > .facet > .facet__summary {
			display: inline-flex; flex-direction: row; flex-wrap: nowrap;
			align-items: center; justify-content: space-between;
			font-family: inherit; font-size: inherit;
			background-color: #fff; color:var(--theme-color-blue); padding: 0.5em; column-gap: 1em;
			& > .facet__name {
				font-weight:500; letter-spacing: -0.02em;
			}
			& > .facet__icon {
				width:1em; height:1em; line-height: 1em;
				& > svg { width: 100%; height:100%;}
			}
			&:hover { cursor: pointer;}
		}
		.facets > .facets__groups > .facet > .facet__fieldset {
			border:none; padding:1em; margin: 0; background-color: #fff;
			& ul { 
				  list-style: none; padding:0; margin: 0;
				  & li {
					  & label.facet__check {
						  & .facet__input {}
						  & .facet__text {}
						  & .facet__qty {}
					  }
				  }
			  }
		}
		.facets > .facets__sort {}
		
		.facets.facets--full {
			
		}
		
		.product-filter__preview { display:flex; flex-wrap: nowrap; align-items: flex-start; gap:1em; width: 100%; max-width:100%; position: relative; z-index: 5;}
		.product-filter__preview > .facets { flex-grow: 1; display: flex; flex-direction: row; flex-wrap: nowrap;  width: 100%; max-width:100%; position: relative; column-gap: 1em;}
		.product-filter__preview > .facets .facets__groups { flex-basis:128px; flex-grow: 1; display: flex; flex-wrap: nowrap; column-gap: 0.4em;}
		.product-filter__preview > .facets .facets__groups .facet { flex-basis:72px; flex-shrink: 0; min-width: min-content; position: relative; }
		.product-filter__preview > .facets .facets__groups .facet .facet__summary {
			background-color: #fff; color:var(--theme-color-blue); padding: 0.5em; column-gap: 1em;
		}
		.product-filter__preview > .facets .facets__groups .facet .facet__fieldset { 
			position: absolute; left:0; top:100%;
			width:min( calc(100vw - 4em), 15em );
			max-height: 420px; overflow: hidden; overflow-y: auto;
		}
		.product-filter__preview > .facets .facets__groups .facet.facet--hidden { display: none !important; }
		.product-filter__preview > .facets .facets__sort {  flex-grow: 0; flex-shrink: 0; flex-basis: 196px; min-width: min-content; overflow: hidden; }
		
		.product-filter__preview > .product-filter__open { 
			flex-grow: 0;
			background-color: var(--theme-color-blue); color:var(--theme-color-white,#fff); padding: 0.5em 1em!important; column-gap: 0.5em;
			padding:1em;
			& > span { white-space: nowrap;}
			&:hover { cursor: pointer;}
		}
		.product-filter__preview > .product-filter__open .badge {
			font-size: 0.8em; padding: 0.4em; background-color: #fff; border:none; letter-spacing: -0.02em;
		}
		.product-filter__preview > .product-filter__open .badge[hidden] { display: none;}
		
		@media only screen and (max-width: 640px) {
				.product-filter__preview > .facets .facets__groups { display: none!important;}
		}
		
  </style>
</div>