{%- liquid
  assign obj = object | default: collection | default: search
  assign sort_by = obj.sort_by | default: obj.default_sort_by
-%}

<aside id="filter-drawer-{{ section_id }}" class="product-filter__drawer" aria-hidden="true" tabindex="-1">
  <header class="product-filter__drawer-head">
	<h2 class="is-h4">
		{{ 'products.facets.filter_button' | t | default: 'All filters' }}
	</h2>
	<button type="button" class="is-button product-filter__close" aria-label="Sluiten">×</button>
  </header>

  <div class="product-filter__drawer-body">
	<form id="AsideFiltersForm-{{ section_id }}" class="facets facets--full" data-facets method="get" action="">
	  {%- if obj.terms -%}
		<input type="hidden" name="q" value="{{ obj.terms | escape }}">
		<input type="hidden" name="options[prefix]" value="last">
	  {%- endif -%}

	  <div class="facets__groups" role="list">
		{%- for filter in obj.filters -%}
		  {%- case filter.type -%}
			{%- when 'boolean','list' -%}
			  <details class="facet" data-index="{{ forloop.index }}" data-param="{{ filter.param_name }}">
				<summary class="facet__summary">
					<span class="facet__name">{{ filter.label | escape }}</span>
					<span class="facet__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
					</span>
				</summary>
				<fieldset class="facet__fieldset">
				  <legend class="visually-hidden">{{ filter.label | escape }}</legend>
				  <ul class="facet__values" role="list">
					{%- for value in filter.values -%}
					  {%- assign input_id = 'Full-' | append: filter.param_name | escape | append: '-' | append: forloop.index0 | append: '-' | append: section_id -%}
					  <li data-value="{{ value.value | escape }}">
						<label for="{{ input_id }}" class="facet__check{% if value.active %} is-active{% endif %}{% if value.count == 0 and value.active == false %} is-disabled{% endif %}">
						  <input type="checkbox"
								 id="{{ input_id }}"
								 name="{{ value.param_name }}"
								 value="{{ value.value }}"
								 {% if value.active %}checked{% endif %}
								 {% if value.count == 0 and value.active == false %}disabled{% endif %}>
						  <span class="facet__text">{{ value.label | escape }}</span>
						  <span class="facet__qty">{{ value.count }}</span>
						</label>
					  </li>
					{%- endfor -%}
				  </ul>
				</fieldset>
			  </details>

			{%- when 'price_range' -%}
			  <details class="facet" data-index="{{ forloop.index }}" data-param="{{ filter.param_name }}">
				<summary class="facet__summary">
					<span class="facet__name">{{ filter.label | escape }}</span>
					<span class="facet__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
					</span>
				</summary>
				<fieldset class="facet__fieldset">
				  {% render 'price-facet', filter: filter, id_prefix: 'Full-', filter_type: 'vertical' %}
				</fieldset>
			  </details>
		  {%- endcase -%}
		{%- endfor -%}
	  </div>

	  {% comment %} {%- if settings.show_sort and obj.sort_options and obj.sort_options.size > 0 -%}
		<nav class="facets__sort facets__sort--full">
		  <label class="visually-hidden" for="SortByFull-{{ section_id }}">Sorteren op</label>
		  <select id="SortByFull-{{ section_id }}" name="sort_by" class="select">
			{%- for option in obj.sort_options -%}
			  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected{% endif %}>
				{{ option.name | escape }}
			  </option>
			{%- endfor -%}
		  </select>
		</nav>
	  {%- endif -%} {% endcomment %}

	  <noscript><button class="button" type="submit">{{ settings.apply_button_label | default: 'Toepassen' }}</button></noscript>
	</form>	
  </div>
  <div class="product-filter__drawer-foot">
	  <section>
		<div class="product-filter__drawer-resultcount" >
			<span class="facets__resultcount" data-facets-resultcount aria-live="polite">
			{%- if obj and obj.results_count -%}
				{{ 'products.facets.product_count_simple' 
				   | t: count: obj.results_count }}
			{%- elsif obj and obj.products_count == obj.all_products_count -%}
				{{ 'products.facets.product_count_simple' 
				   | t: count: obj.all_products_count }}
			{%- else -%}
				{{ obj.products_count }} / 
				{{ 'products.facets.product_count_simple' 
				   | t: count: obj.all_products_count }}
			{%- endif -%}
			</span>
		</div>
		<div class="product-filter__drawer-actions">
			<button type="submit" form="AsideFiltersForm-{{ section_id }}" class="button" data-mode="page">
			{{ 'products.facets.apply' | t | default: 'Apply' }}
			</button>
		</div>
	  </section>
  </div>
</aside>
<div class="product-filter__backdrop" hidden></div>
<style>
	.product-filter__drawer { 
		position:fixed; inset:0 0 0 auto; 
		width:min(560px,95vw); height:100dvh;
		display: flex; flex-direction: column; flex-wrap: nowrap;
		align-items: flex-start; justify-content: flex-start;
		background:#fff; transform:translateX(100%); 
		transition:transform .25s ease; 
		z-index:60; 
	}
	.product-filter__drawer[aria-hidden="false"] { 
		transform:translateX(0); box-shadow:-12px 0 24px rgba(0,0,0,.12);
	}
	.product-filter__drawer > .product-filter__drawer-head {
		flex-grow: 0; width:100%;  display: flex; flex-direction: row; flex-wrap: nowrap;
		align-items: center; justify-content: space-between;
		padding:0em; padding-left: 1.5em; padding-right: 0; 
		border-bottom:var(--theme-color-grey) 1px solid;
		position: relative;
		& h2 { margin: 0; }
		& button { padding: 1em; font-size: 1em; padding: 2em; background-color: transparent;}
	}
	.product-filter__drawer > .product-filter__drawer-body {
		flex-grow: 1; width:100%; overflow: hidden; overflow-y: auto; position: relative;
	}
	.product-filter__drawer > .product-filter__drawer-body > .facets { padding: 1em;}
	.product-filter__drawer > .product-filter__drawer-body > .facets > .facets__groups {}
	.product-filter__drawer > .product-filter__drawer-body > .facets > .facets__groups > .facet {  width:100%; border-bottom:var(--theme-color-grey) 1px solid;}
	.product-filter__drawer > .product-filter__drawer-body > .facets > .facets__groups > .facet > .facet__summary {width:100%;}
	.product-filter__drawer > .product-filter__drawer-body > .facets > .facets__groups > .facet >  .facet__fieldset {width:100%;}
	
	.product-filter__drawer > .product-filter__drawer-foot {
		flex-grow: 0; width:100%; padding:1em 1.5em; border-top:var(--theme-color-grey) 1px solid;
		& > section {
			display: flex; flex-direction: row; flex-wrap: nowrap;
			align-items: center; justify-content: space-between;
		}
	}
	
	.product-filter__backdrop { display:none; position:fixed; inset:0; background:rgb(0 0 0 / .25); z-index:50; }
</style>