{%- liquid
  assign obj = object | default: collection | default: search
  assign clear_url = obj.url | default: routes.search_url
  
  assign has_active = false
  if obj.terms
	assign clear_url = clear_url | append: '?q=' | append: obj.terms | url_encode | append: '&options[prefix]=last'
  endif
  for filter in obj.filters
	if filter.active_values.size > 0
	  assign has_active = true
	endif
  endfor
-%}

<nav class="facets__active" data-active-pills>
	{%- if has_active -%}
	<ul>
		{%- for filter in obj.filters -%}
		{%- for val in filter.active_values -%}
			<li>
				<a class="pill" href="{{ val.url_to_remove }}">
					<span class="pill__info">
					<span class="pill__label">{{ filter.label }}</span>
					<span class="pill__value">{{ val.label }}</span>
					</span>
					<span class="pill__icon" aria-hidden="true">×</span>
				</a>
			</li>
		{%- endfor -%}
		{%- endfor -%}
		<li class="clear">
			<a class="pill pill--clear" href="{{ clear_url }}">
				<span>
					{{ 'products.facets.clear_all' | t | default: 'Clear' }}
				</span>
			</a>
		</li>
	</ul>

	<section>
		<span class="facets__resultcount" data-facets-resultcount aria-live="polite">
		{%- if obj and obj.results_count -%}
			{{ obj.terms }} / {{ 'products.facets.product_count_simple' 
			   | t: count: obj.all_products_count }}
		{%- elsif obj and obj.products_count == obj.all_products_count -%}
			{{ 'products.facets.product_count_simple' 
			   | t: count: obj.all_products_count }}
		{%- else -%}
			{{ obj.products_count }} / {{ 'products.facets.product_count_simple' 
			   | t: count: obj.all_products_count }}
		{%- endif -%}
		</span>
	</section>

	<style>
		.facets__active {
			display: flex; flex-direction: row;
			flex-wrap: nowrap; align-items: flex-start; justify-content: space-between;
			column-gap: 2em; row-gap: 1em; padding-top:1em; padding-bottom: 1em;
			border-top:var(--theme-color-blue) 1px solid;  margin-top: 1em;
			& ul {
					display: flex; flex-direction: row;
					flex-wrap: wrap; align-items: flex-start; justify-content: flex-start;
					column-gap: 0.4em; row-gap: 1em;
					list-style: none; padding:0; margin: 0;
				& li {
					& .pill {
						display: inline-flex; flex-direction: row; flex-wrap:nowrap;
						align-items: center; justify-content: flex-start;
						column-gap: 1em;
						font-size: 0.8em; line-height: 1em;
						text-decoration: none;
						background-color: var(--theme-color-blue); color:#fff;
						padding:0.6em 1em;
						& .pill__info {
							& .pill__label {
								display: block; font-size: 0.8em; letter-spacing: -0.02em; opacity: 0.6;
							}
							& .pill__value {
								display: block; letter-spacing: -0.02em;
							}
						}
						
						& .pill__icon {}
						&.pill--clear {
							background-color: transparent; color: var(--theme-color-blue); letter-spacing: -0.02em;
						}
					}
					&.clear { align-self: center; }	
				}
			}
			& section {
				font-size: 0.8em; line-height: 1em; padding: 1.2em 0; letter-spacing: -0.02em; white-space: nowrap;
			}
		}
	</style>
	{%- endif -%}
</nav>