{% assign blog_handles = 'kennisbank,oudheid-romeinen,keltisch-ijzertijd' | split: ',' %}
<ul class="blog-list">
	{% for handle in blog_handles %}
		{% assign blog = blogs[handle] %}
		<li>
			<a href="{{ blog.url }}">{{ blog.title }}</a>
		</li>
	{% endfor %}
</ul>

{% comment %} 
	{% assign target_tag = 'summer' | downcase %}
	{% for blog in blogs %}
		{% assign blog_obj = blog[1] %}
		{{ blog_obj.title }}
		{% for article in blog_obj.articles %}
			{% for tag in article.tags %}
				{% assign title_tag = tag | downcase %}
				{% if title_tag == target_tag %}
				<div class="article">
					<h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
					<p>{{ article.excerpt | strip_html | truncate: 100 }}</p>
					<p><em>From blog: {{ blog_obj.title }}</em></p>
				</div>
				{% break %} {# Stop checking tags after first match #}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
  
	{% assign all_tags = '' %}
	{% assign collection_title = collection.title | downcase %} 
	{% for blog in blogs %}
	{{ blog[1].title }}
	{% for article in blog[1].articles %}
		{% for tag in article.tags %}
		{% unless all_tags contains tag %}
			{% assign all_tags = all_tags | append: tag | append: ',' %}
		{% endunless %}
		{% endfor %}
	{% endfor %}
	{% endfor %}
	
	{% assign tag_list = all_tags | split: ',' | uniq %}
	
	{{ all_tags | json }}                  
				
	{% for article in blogs.kennisbank.articles %}
	{% for tag in article.tags %}
		{{ tag }}
		{% assign tag_title = tag | downcase %}
		{% if tag_title == collection_title %}
		<div class="article">
			<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
			<p>{{ article.excerpt | strip_html | truncate: 150 }}</p>
		</div>
		{% break %} {# Stop inner loop once match is found #}
		{% endif %}
	{% endfor %}
	{% endfor %}
{% endcomment %}