<section class="main-hero" id="hero">
  <div class="main-hero__inner alignwide is-constrained">
	<!-- 
		<h1>{{ section.settings.heading }}</h1>
		<p>{{ section.settings.subtext }}</p>	 
	-->
	<div class="hero-banners is-{{ section.settings.view }} has-items-{{ section.blocks.size }}" {{ block.shopify_attributes }}>
	  {% for block in section.blocks %}
	  	{%- case block.type -%}
			{%- when 'banner' -%}
				<div class="hero-banner is-banner is-design-{{ block.settings.design }}" {{ block.shopify_attributes }}>
					{% if block.settings.image %}
						<div class="banner__image">
							<img src="{{ block.settings.image | img_url: '720x' }}" alt="{{ block.settings.heading }}">
						</div>
					{% endif %}
					<div class="banner__content">
						<h3>{{ block.settings.heading }}</h3>
						<p>{{ block.settings.text }}</p>
					</div>
				</div>
			{%- when 'video' -%}
				<div class="hero-banner is-video is-design-{{ block.settings.design }}" {{ block.shopify_attributes }}>
					{%- if block.settings.cover_image != blank -%}
						<div class="banner__image">
							<span class="deferred-media__poster-button motion-reduce">
							  <span class="svg-wrapper">
								{{- 'icon-play.svg' | inline_asset_content -}}
							  </span>
							</span>
						{%- capture sizes -%}
							(min-width: {{ settings.page_width }}px)
							{% if section.blocks.size == 1 -%}
							calc({{ settings.page_width }}px - 100px)
							{%- else -%}
							{{- settings.page_width | minus: 100 | times: 0.67 | round }}px
							{%- endif -%}
							, (min-width: 750px)
							{%- if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif -%}
							, calc(100vw - 30px)
						{%- endcapture -%}
						{{
							block.settings.cover_image
							| image_url: width: 3000
							| image_tag: sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000'
						}}
						</div>
					{%- endif -%}
					{%- if block.settings.video_url.type == 'youtube' -%}
						<iframe
						  src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1"
						  class="js-youtube"
						  allow="autoplay; encrypted-media"
						  allowfullscreen
						  title="{{ block.settings.description | escape }}"
						></iframe>
					{%- else -%}
						<iframe
						  src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}"
						  class="js-vimeo"
						  allow="autoplay; encrypted-media"
						  allowfullscreen
						  title="{{ block.settings.description | escape }}"
						></iframe>
					{%- endif -%}
				</div>
			{%- when 'product' -%}
				<div class="hero-banner is-product is-design-{{ block.settings.design }}" {{ block.shopify_attributes }}>
					{%- liquid
						assign card_product = block.settings.product
						assign show_secondary_image = block.settings.second_image
					-%}
					<div class="banner__image">
						<img
							srcset="
							  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
							  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
							  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
							  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
							  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
							  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
							  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
							"
							src="{{ card_product.featured_media | image_url: width: 533 }}"
							sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
							alt="{{ card_product.featured_media.alt | escape }}"
							class="motion-reduce"
							{% unless lazy_load == false %}
							  loading="lazy"
							{% endunless %}
							width="{{ card_product.featured_media.width }}"
							height="{{ card_product.featured_media.height }}"
						  />
						  {%- if card_product.media[1] != null and show_secondary_image -%}
							  <img
								srcset="
								  {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
								  {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
								  {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
								  {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
								  {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
								  {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
								  {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
								"
								src="{{ card_product.media[1] | image_url: width: 533 }}"
								sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
								alt="{{ card_product.media[1].alt | escape }}"
								class="motion-reduce"
								loading="lazy"
								width="{{ card_product.media[1].width }}"
								height="{{ card_product.media[1].height }}"
							  />
							{%- endif -%}
					</div>
					<div class="banner__content">
						<h3>{{ card_product.title | escape }}</h3>
						{% render 'html-price', product: card_product, price_class: '', show_compare_at_price: true %}
					</div>
				</div>
			{%- when 'collection' -%}
				<div class="hero-banner is-collection is-design-{{ block.settings.design }}" {{ block.shopify_attributes }}>
					{%- liquid
						assign card_collection = block.settings.collection
					-%}
					
					{%- if card_collection.featured_image -%}
						<div class="banner__image">
							<img
							srcset="
								{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
								{%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
								{%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
								{%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
								{%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
								{%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
								{%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
								{{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w
							"
							src="{{ card_collection.featured_image | image_url: width: 1500 }}"
							sizes="
								(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
								(min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
								calc(100vw - 3rem)
							"
							alt="{{ card_collection.featured_image.alt | escape }}"
							height="{{ card_collection.featured_image.height }}"
							width="{{ card_collection.featured_image.width }}"
							loading="lazy"
							class="motion-reduce"
							>
						</div>
					{%- endif -%}
					<div class="banner__content">
					  <div class="banner__information">
						<h3 class="banner__heading">
						  <a
							{% if card_collection == blank %}
							  role="link" aria-disabled="true"
							{% else %}
							  href="{{ card_collection.url }}"
							{% endif %}
							class="full-unstyled-link"
						  >
							{%- if card_collection.title != blank -%}
							  {{- card_collection.title | escape -}}
							{%- else -%}
							  {{ 'onboarding.collection_title' | t }}
							{%- endif -%}
							{%- if card_collection.description == blank -%}
							  <span class="icon-wrap">
								{{- 'icon-arrow.svg' | inline_asset_content -}}
							  </span>
							{%- endif %}
						  </a>
						</h3>
						{%- if card_collection.description != blank -%}
						  <p class="banner__caption">
							{{- card_collection.description | strip_html | truncatewords: 12 -}}
							<span class="icon-wrap">
							  {{- 'icon-arrow.svg' | inline_asset_content -}}
							</span>
						  </p>
						{%- endif -%}
					  </div>
					</div>
				</div>
		{%- endcase -%}
	  {% endfor %}
	</div>
  </div>
</section>
{%- style -%}
	.hero-banners {
		margin-top: 1em; margin-bottom: 1em;
		&.is-grid {
			display: grid;
			grid-column-gap: 1em;
			grid-row-gap: 1em;
			height:30em;
			&.has-items-3 {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				& .hero-banner {
					&:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
					&:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
					&:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
				}
			}
			
			&.has-items-4 {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(2, 1fr);
				& .hero-banner {
					&:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
					&:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
					&:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
					&:nth-child(4) { grid-area: 2 / 2 / 3 / 4; }
				}
			} 
			&.has-items-5 {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(2, 1fr);
				& .hero-banner {
					&:nth-child(1) { grid-area: 1 / 1 / 3 / 2; }
					&:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
					&:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
					&:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
					&:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }
				}
			}  
		}
		&.is-flex {
			display: flex; flex-direction: row; flex-wrap: nowrap;
			& .hero-banner {
				flex-basis: 296px; flex-grow: 1; min-width: 296px;
				height:28em; aspect-ratio: 2/3;
			}
		}
	}
	.hero-banner {
		position: relative; overflow: hidden; isolation: isolate; background-color: aliceblue;
		&.is-banner {
			display: flex; flex-direction: column; flex-wrap: nowrap; 
			justify-content: flex-end; align-items: center;
			& .banner__image {
				position: absolute; left:0; top:0; right:0; bottom:0;
				background-color: #000;
				  width:100%; height:100%; z-index: -1;
				  & > img {
					  width:100%; height:100%; object-fit: cover; opacity: 0.9;
				  }
			}
			& .banner__content {
				color:#fff; width:100%; padding:1em;
				& h3 { color: inherit;}
				& p { color: inherit;}
			}
		}
		&.is-product {
			display: flex; flex-direction: column; flex-wrap: nowrap; 
				justify-content: flex-end; align-items: center;
			  & .banner__image {
				position: absolute; left:0; top:0; right:0; bottom:0;
				width:100%; height:100%; z-index: -1;
				& img { width:100%; height:100%; object-fit: cover;  }
			  }
			  & .banner__content {
				  color:#fff; width:100%; padding:1em;
				  & h3 { color: inherit;}
				  & p { color: inherit;}
				  & .price { color: inherit;}
			  }
		}
		&.is-collection {
			display: flex; flex-direction: column; flex-wrap: nowrap; 
			justify-content: flex-end; align-items: center;
		  & .banner__image {
			position: absolute; left:0; top:0; right:0; bottom:0;
			width:100%; height:100%; z-index: -1;
			& img { width:100%; height:100%; object-fit: cover;  }
		  }
		  & .banner__content {
			  color:#fff; width:100%; padding:1em;
			  & h3 { color: inherit; font-weight: 700;}
			  & p { color: inherit;}
		  }
		}
		&.is-video {
			text-align: center;
			& .banner__image {
				position: absolute; left:0; top:0; right:0; bottom:0;
				width:100%; height:100%; z-index: 1;
				& img { width:100%; height:100%; object-fit: cover;  }
			}
		}
		&.is-design-blue {
			& .banner__content {
				position: relative; isolation: isolate; padding-bottom: 2em;
				background: rgb(0,0,0); 
				background: linear-gradient(180deg, rgba(15,31,56,0) 0%, rgba(15,31,56,1) calc(100% - 1em) );
				&::before { 
					content:''; display:block; position: absolute; z-index: -1; left:0px; top:auto; right:0px; bottom:0; height:1em; background: var(--theme-color-blue);
				}
				&::after { 
					content:''; display:block; position: absolute; z-index: -2; left:0px; top:0em; right:0px; bottom:0px; background: #000; transform: scaleX(-1); background: var(--theme-color-blue);
					mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 4 4" style="enable-background:new 0 0 4 4;" xml:space="preserve" opacity="1" stroke-width="0.5"> <line stroke="black" class="st0" x1="0" y1="0" x2="4" y2="4"/> <line stroke="black" x1="-0.4" y1="3.6" x2="0.4" y2="4.4"/> <line stroke="black" x1="3.6" y1="-0.4" x2="4.4" y2="0.4"/> </svg>');
					mask-repeat: repeat; mask-size: 16px; mask-position: center center;
				  }
			}
		}
		&.is-design-red {
			& .banner__content {
				position: relative; isolation: isolate; padding-bottom: 2em;
				&::before { 
					content:''; display:block; position: absolute; z-index: -1; left:0px; top:auto; right:0px; bottom:0; height:1em; background: var(--theme-color-red);
				}
				&::after { 
					content:''; display:block; position: absolute; z-index: -2; left:0px; top:auto; right:0px; bottom:1em; height:1em; background: var(--theme-color-red);
					mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 41 8"><polygon points="8.5 0 0 8 17 8 8.5 0"/></svg>');
					mask-repeat: repeat-x; mask-size: 41px; mask-position: calc(50% - 30px) bottom;
				  }
			}
		}
		&.is-design-green {
			& .banner__content {
				&::before { 
					content:''; display:block; position: absolute; z-index: -1; left:0px; top:auto; right:0px; bottom:0; height:1em; background: var(--theme-color-green);
				}
				&::after {
					content:''; display:block; position: absolute; z-index: 0; left:0px; top:auto; right:0px; bottom:1em; height:8px; background: var(--theme-color-green); transform: none;
					mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 11 8"><line stroke="black" stroke-width="4" x1="-.98" y1="11.78" x2="9.17" y2="2.22"/></svg>');
					mask-repeat: repeat-x; mask-size: 11px; mask-position: left center;
				}
			}
		}
	
	.hero-banner img {
	  max-width: 100%;
	  height: auto;
	}
{%- endstyle -%}

{% schema %}
{
  "name": "Main Hero",
  "tag": "section",
  "class": "main-hero",
  "disabled_on": {
	"groups": ["header", "footer"]
  },
  "settings": [
	{
	  "type": "text",
	  "id": "heading",
	  "label": "Heading",
	  "default": "Welcome to our shop"
	},
	{
	  "type": "textarea",
	  "id": "subtext",
	  "label": "Subtext",
	  "default": "Here you can highlight promotions, features, or anything else."
	},
	{
	  "type": "select",
	  "id": "view",
	  "label": "Banner view",
	  "default": "grid",
	  "options": [
		{ "value": "grid", "label": "Grid" },
		{ "value": "flex", "label": "Flex row" }
	  ]
	}
  ],
  "blocks": [
	{
	  "type": "banner",
	  "name": "Banner Block",
	  "settings": [
		{
		  "type": "image_picker",
		  "id": "image",
		  "label": "Banner image"
		},
		{
		  "type": "text",
		  "id": "label",
		  "label": "Banner label",
		  "default": "Shop nu met korting"
		},
		{
		  "type": "text",
		  "id": "heading",
		  "label": "Banner heading",
		  "default": "Banner title"
		},
		{
		  "type": "textarea",
		  "id": "text",
		  "label": "Banner text",
		},
		{
		  "type": "collection",
		  "id": "collection",
		  "label": "t:sections.collage.blocks.collection.settings.collection.label"
		},
		{
		  "type": "select",
		  "id": "design",
		  "label": "Banner design",
		  "default": "blue",
		  "options": [
			{ "value": "blue", "label": "Blue" },
			{ "value": "red", "label": "Red" },
			{ "value": "green", "label": "Green" }
		  ]
		}
	  ]
	},
	{
	  "type": "product",
	  "name": "t:sections.collage.blocks.product.name",
	  "settings": [
		{
		  "type": "product",
		  "id": "product",
		  "label": "t:sections.collage.blocks.product.settings.product.label"
		},
		{
		  "type": "checkbox",
		  "id": "second_image",
		  "default": false,
		  "label": "t:sections.collage.blocks.product.settings.second_image.label"
		},
		{
		  "type": "select",
		  "id": "design",
		  "label": "Banner design",
		  "default": "blue",
		  "options": [
			{ "value": "blue", "label": "Blue" },
			{ "value": "red", "label": "Red" },
			{ "value": "green", "label": "Green" }
		  ]
		}
	  ]
	},
	{
	  "type": "collection",
	  "name": "t:sections.collage.blocks.collection.name",
	  "settings": [
		{
		  "type": "collection",
		  "id": "collection",
		  "label": "t:sections.collage.blocks.collection.settings.collection.label"
		},
		{
		  "type": "select",
		  "id": "design",
		  "label": "Banner design",
		  "default": "blue",
		  "options": [
			{ "value": "blue", "label": "Blue" },
			{ "value": "red", "label": "Red" },
			{ "value": "green", "label": "Green" }
		  ]
		}
	  ]
	},
	{
	  "type": "video",
	  "name": "t:sections.collage.blocks.video.name",
	  "settings": [
		{
		  "type": "image_picker",
		  "id": "cover_image",
		  "label": "t:sections.collage.blocks.video.settings.cover_image.label"
		},
		{
		  "type": "video_url",
		  "id": "video_url",
		  "accept": ["youtube", "vimeo"],
		  "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
		  "label": "t:sections.collage.blocks.video.settings.video_url.label",
		  "placeholder": "t:sections.collage.blocks.video.settings.video_url.placeholder",
		  "info": "t:sections.collage.blocks.video.settings.video_url.info"
		},
		{
		  "type": "text",
		  "id": "description",
		  "default": "t:sections.collage.blocks.video.settings.description.default",
		  "label": "t:sections.collage.blocks.video.settings.description.label",
		  "info": "t:sections.collage.blocks.video.settings.description.info"
		}
	  ]
	}
  ],
  "max_blocks": 5,
  "presets": [
	{
	  "name": "Main Hero with Banners",
	  "category": "Homework",
	  "blocks": [
		{
		  "type": "banner"
		},
		{
		  "type": "banner"
		}
	  ]
	}
  ]
}
{% endschema %}
