<section class="block-collection-banners-content align">
	{% assign menu_handle = section.settings.menu | default: 'product-menu' %}
	{% assign breadcrumb_menu = linklists[menu_handle].links %}
	{% assign current_url = request.path | prepend: '' %}
	{% assign clean_url = current_url | split: '?' | first %}
	{% assign has_slider = false %}
	
	{% comment %} First, find which items to display {% endcomment %}
	{% assign slider_items = null %}
	{% for link in breadcrumb_menu %}
		{% if clean_url == link.url %}
			{% if link.links.size > 0 %}
				{% assign slider_items = link.links %}
				{% assign has_slider = true %}
			{% endif %}
		{% endif %}
		
		{% if link.links.size > 0 %}
			{% for child in link.links %}
				{% if clean_url == child.url %}
					{% if child.links.size > 0 %}
						{% assign slider_items = child.links %}
						{% assign has_slider = true %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	
	{% comment %} Then build the slider once with the found items {% endcomment %}
	{% capture build_trail %}
		<ul class="swiper-wrapper">
		{% for item in slider_items %}
			<li class="swiper-slide">
			<a href="{{ item.url }}">
				{% comment %} Try to get collection from URL {% endcomment %}
				{% assign url_parts = item.url | split: '/' %}
				{% assign handle = url_parts.last %}
				{% assign link_collection = collections[handle] %}
				
				{% if link_collection %}
					{% comment %} It's a collection link {% endcomment %}
					{% if link_collection.image %}
					<img class="lazy" data-src="{{ link_collection.image | image_url: width: 96 }}" alt="{{ link_collection.image.alt | default: link_collection.title | escape }}">
					{% endif %}
				{% else %}
					{% comment %} It's a page or other link type {% endcomment %}
					{% if item.object.image %}
					<img class="lazy" data-src="{{ item.object.image | image_url: width: 96 }}" alt="{{ item.object.image.alt | default: item.title | escape }}">
					{% endif %}
				{% endif %}
				<span>{{ item.title }}</span>
			</a>
			</li>
		{% endfor %}
		</ul>
	{% endcapture %}
	{% if has_slider %}
	<collection-banners>
		<nav class="collection-banners swiper">
			{{ build_trail }}
			<!-- If we need pagination -->
			  <div class="swiper-pagination"></div>
			
			  <!-- If we need navigation buttons -->
			  <div class="swiper-buttons">
				<div class="swiper-button swiper-button-prev"><</div>
				<div class="swiper-button swiper-button-next">></div>
			  </div>
			  
			  <!-- If we need scrollbar -->
			  <!-- <div class="swiper-scrollbar"></div> -->
		</nav>
	</collection-banners>
	{% endif %}
</section>

{%- style -%}
	.block-collection-banners {
		position: relative; isolation: isolate; 
		& > .block-collection-banners-content {
			text-align: center; overflow: hidden; padding-bottom: 0em;
			& nav.collection-banners {
				padding-bottom: 2em;
				& > ul { 
					display: flex; flex-direction: row; flex-wrap: nowrap;
					list-style: none; padding:0; margin:0; 
					& > li {
						flex-basis: 16em; flex-grow: 0; flex-shrink: 0; height: auto;
						& > a {
							display: flex; flex-direction: row; flex-wrap: nowrap;
							justify-content: flex-start; align-items: stretch;
							column-gap: 0em; height:100%; text-decoration: none;
							background-color: var(--theme-color-blue); color: var(--theme-color-white);
							& > img { flex-basis: 96px; flex-grow: 0; flex-shrink: 0; overflow: hidden; object-fit: cover;}
							& > span {
								flex-grow: 1;
								font-family: 'Absara Pro';
								font-size: 1em; font-weight: 400; line-height: 1.2em;
								text-align: left; padding: 1em;
								align-self: center;
							}
						}
					}
					
				}
				&:not(.swiper) {
					& > ul {
						overflow: hidden; overflow-x: auto; column-gap: 16px;
					}
				}
			}
			& .swiper-pagination {
				position: absolute; height:2em; padding:0.25em 2em; top:auto; bottom:0;
				& .swiper-pagination-bullet {
					border-radius: 0; width:0.5em; height:0.25em;
					/* background-color: var(--theme-color-grey); */
					transition: width 125ms ease-in;
					&.swiper-pagination-bullet-active {
						width:1em; background-color: var(--theme-color-blue);
					}
				}
			}
			& .swiper-buttons {
				position: absolute; bottom:0; width:100%; display:none;
				& .swiper-button {
					width:2em; height:2em;
					padding:0; margin:0; top:calc(50% - 2em);
					background-color: rgba(255,255,255,0.8); background-color: var(--theme-color-white); color: var(--theme-color-blue);
					&.swiper-button-prev { left:0; transform: translateX(0);}
					&.swiper-button-next { right:0; transform: translateX(0);}
					&::after, &::before { display: none;}
				}
			}
		}
		&::after {
			content:''; position: absolute; left:0; top:calc(50% - 2em); right:0; bottom:0;
			background-color: var(--theme-color-grey);
		}
	}
{%- endstyle -%}

{% javascript %}
	class CollectionBanners extends HTMLElement {
		constructor() {
			super();
		}
		connectedCallback() {
			const swiper = new Swiper('.swiper', {
			  // Optional parameters
			  direction: 'horizontal',
			  loop: false,
			  slidesPerView: 'auto',
			  slidesPerGroup: 3,
			  //slidesPerGroupAuto: 1,
			  spaceBetween: 16,
			  mousewheel: {
				  forceToAxis:true,
				  releaseOnEdges:true
			  },
			  
			  // If we need pagination
			  pagination: {
				el: '.swiper-pagination',
			  },
			
			  // Navigation arrows
			  navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			  },
			
			  // And if we need scrollbar
			  scrollbar: {
				el: '.swiper-scrollbar',
			  },
			  
			  on: {
				  init(sw) {
					updateSlidesPerGroup(sw);
				  },
				  resize(sw) {
					updateSlidesPerGroup(sw);
				  }
				}
			});
			function updateSlidesPerGroup(swiper) {
				// swiper.slidesPerViewDynamic() tells you how many slides fit in the viewport
				const visibleSlides = getFullyVisibleSlides(swiper);
				swiper.params.slidesPerGroup = visibleSlides > 0 ? visibleSlides : 1;
				swiper.loopDestroy();
				swiper.loopCreate();
				swiper.update();
			}
			function getFullyVisibleSlides(swiper) {
				// helper to count only *fully visible* slides
				const wrapperRect = swiper.wrapperEl.getBoundingClientRect();
				let count = 0;
				swiper.slides.forEach((slide) => {
					const rect = slide.getBoundingClientRect();
					if (rect.left >= wrapperRect.left && rect.right <= wrapperRect.right) {
						count++;
					}
				});
				return count > 0 ? count : 1;
			}
		}
		disconnectedCallback() {
			
		}
	}
	customElements.define('collection-banners', CollectionBanners);
{% endjavascript %}

{% schema %}
{
  "name": "Collection banners",
  "tag": "section",
  "class": "block-collection-banners",
  "disabled_on": {
	"groups": ["header", "footer"]
  },
  "settings": [
	{
	  "type": "link_list",
	  "id": "menu",
	  "label": "Menu",
	  "info": "Select which menu to use for navigation breadcrumbs (defaults to 'product-menu' if not set)"
	}
  ],
  "presets": [
	{
	  "name": "Collection banners",
	  "category": "Theme Collection",
	  "blocks": []
	}
  ]
}
{% endschema %}
